<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
</head>
<style type="text/css">
#b1 {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10pt;
    outline: none;
    position: relative;
    bottom: 5px
}
#err{
color: red
}
</style>
<body>

<div class="fly-header layui-bg-black" th:replace="html/index::#header">
  
</div>
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="reg">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" action="/logined" enctype="multipart/form-data">
            <span id="err" style="font-size: 1.2em" th:each="e:${errors}" th:if="${e.field=='account'}" th:text="${e.defaultMessage}"></span>
              <div class="layui-form-item">
                <label  class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                  <input th:value="${user}!=null?${user.account}:''" type="text" id="L_email" name="account"  class="layui-input">
                </div>
              </div>
               <span id="err" style="font-size: 1.2em" th:each="e:${errors}" th:if="${e.field=='account'}" th:text="${e.defaultMessage}"></span>
              <div class="layui-form-item">
                <label  class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input th:value="${user}!=null?${user.pwd}:''" type="password" id="L_pass" name="pwd"  class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" type="submit">立即登录</button>
                <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
                <span style="padding-left:20px;">
                  <input type="checkbox" checked="checked">记住密码
                </span>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="html/index::#footer">


</div>
</body>
</html>